*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-padding-top: 8vh; 
}

body {
    background-color: #0083db;
	color: #eeeeee;
	font-family: 'Sofia Sans', sans-serif;
	display: flex;     
	align-items: center;
	justify-content: center;
  }

  .main-container{
    background: #222;
    border-radius: 2em;
    margin: 2em;
    width: 90vw;
  }


  nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 8vh;
	min-height: 38px;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	width: 100%;
}

.nav-name a{
    list-style: none;
    color: #eeeeee;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 300;
	font-size: 21px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	color: #bbbbbb;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: light;
	font-size: 14px;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

.nav-links a{
	color: #bbbbbb;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: light;
	font-size: 14px;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

.nav-links a.active{
	color: #eeeeee;
    font-weight: 900;
}


.bio{
    margin: 5em;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profilepic{
    width: 30%;
    height: auto;
    border: Solid 1em;
    border-color: #444;
    border-radius: 50%;
    overflow: hidden;
}

.profilepic img{
    width: 100%;
}

.biodesc{
    margin-left: 5em;
    width: 50%;
}

.classification{
    color: #bbbbbb;
    font-weight: 100;
}

.name{
    font-weight: 300;
    font-size: 35px;
}

.desc{
    font-weight: 200;
}

.bio_buttons{
    display: flex;
    margin-top: 2em;
    justify-content: flex-start;
    gap: 2em;
}

.button{
    background-color: rgb(60, 60, 60);
	border: 2px solid;
	padding: 0.5em 2em;
	border-radius: 2em;
	box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
	max-width: 18em;
	display: block;
	text-align: center;
}

.button a{
	
	text-decoration: none;
	text-align: center;
	font-weight: 200;
	font-size: 18px;
	
}


.button.blue{
    border-color: #0083db;
}

.button.white{
    border-color: #ffffff;
}

.button.blue a{
    color: white;
}

.button.white a{
    color: white;
}

.button.blue:hover{
    background-color: #0083db;
}

.button.white:hover{
    color: #222;
    background-color: #ffffff;
    
}

.button.white:hover a{
    color: #222;
    
}

.section-title{
    font-weight: 600;
    font-size: 25px;
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 2em;
    width: max-content;
    
}
.underline{
   background-color: rgb(127, 127, 127);
   width: 100%;
}
.blueunderline{
    background-color: #0083db;
    width: 30%;
    height: 0.1em;
}

.brief{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1em solid;
    border-color: #444;
    border-radius: 0.5em;
    width: 25%;
    text-align: center;
    background-color: rgb(40, 40, 40);
    padding-bottom: 1em;
    
}

.card img{
    height: 2.5em;
    width: auto;
    margin: 1em;
    filter: invert(30%) sepia(89%) saturate(1111%) hue-rotate(177deg) brightness(109%) contrast(106%);
}

.period{
    font-weight: 100;
}

.company{
    margin-left: 3em;
    margin-right: 3em;
    font-weight: 400;
}

.role{
    margin-left: 3em;
    margin-right: 3em;
    font-weight: 800;
}

.companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companylogo{
    width: 15vw;
    height: auto;
    padding: 2em;
    padding-top: 0%;
}

.companylogo img{
    filter: brightness(2);
}
.socials{
    border-top: 0.02em solid;
    border-color: #444;
    width: 100%;
    display: flex;
    margin-top: 2em;
    padding-left: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    justify-content: start;
    gap: 2em;
}

.socials a img{
    width: 2em;
    filter: invert(42%) sepia(5%) saturate(25%) hue-rotate(2deg) brightness(92%) contrast(87%);

}

/*  --- Resume --- */

.title{
    background-color: rgb(43, 43, 43);
    font-size: 40px;
    font-weight: 700;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    border-top: solid 0.03em #444;
    border-bottom: solid 0.03em #444;
}

.cols{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.section{
    padding-left: 10vw;
    padding-right: 10vw;
}

.subsection-title{
    font-weight: 600;
    font-size: 25px;
    margin-left: 0em;
    margin-top: 3em;
    margin-bottom: 2em;
    width: max-content;
    
}

.subsubsection-title{
    font-weight: 600;
    font-size: 20px;
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: max-content;
    
}

.edu-resume li{
	list-style: none;
    width: 30vw;
}

.work-resume li{
	list-style: none;
    width: 30vw;
}

.resume-element{
    display: block;
    border-left: solid 0.05em #444;
    border-bottom: solid 0.05em #444;
    padding: 0.5em;
}

.RE-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-left: -1.5em;
}

.RE-period{
    height: 2em;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    border: solid #0083db 0.2em;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #222;
    display: flex;
    align-items: center;

}

.RE-company{
    font-size: 12px;
    font-weight: 100;
    color: #bbbbbb;
}

.RE-companylogo{
    width: 5vw;
    height: auto;
    margin-left: auto;
    margin-right: 2em;
}

.RE-companylogo img{
    filter: brightness(2);
}

.RE-title{
    font-size: 16px;
    font-weight:400;
    margin-top: 1em;
}

.RE-desc{
    font-size: 12px;
    font-weight: 100;
    color: #bbbbbb;
    margin-top: 1em;
}

/* --- Certificates --- */

.certificates{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.certificate{
    border: solid 0.1em #444;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    width: 30vw;
}

.CF-logo{
    background-color: #444;
    width: 7em;
    height: 7em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.CF-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1em;
    margin-right: 1em;
}

.CF-title{
    font-size: 16px;
    font-weight: 600;
}

.CF-data{
    font-size: 12px;
    font-weight: 300;
    margin-left: 0.3em;
}

.CF-date{
    font-size: 10px;
    font-weight: 100;
    color: #bbbbbb;
}


/* --- SKILLS --- */


.skillscol{
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.skills-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-group li{
	list-style: none;
}

.skill{
    width: 30vw;
    margin-bottom: 1em;
}

.SK-name{
    font-size: 16px;
    font-weight: 400;
}

.SK-fill{
    height: 0.7em;
    width: 100%;
    border: 0.2em solid #444;
    border-radius: 0.35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.2em;
}

.SK-progress{
    height: 0.2em;
    border-radius: 0.1em;
    background-color: #0083db;
    margin-left: 0.1em;
}


/* --- Extra --- */
.passions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.passion{
    display: flex;
    align-items: flex-start;
    width: 30vw;
    margin-bottom: 1em;
}

.passion-icon{
    padding: 0.5em;
    padding-top: 0;
    filter: invert(30%) sepia(89%) saturate(1111%) hue-rotate(177deg) brightness(109%) contrast(106%);
}

.passion-icon img{
    width: 3vw;
}

.passion-content{
    margin-left: 1em;
}

.passion-title{
    font-weight: 600;
    font-size: 18px;
}

.passion-desc{
    font-weight: 100;
    font-size: 14px;
}

/* --- Contacts --- */

.contacts{
    margin: 2em;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact{
    display: flex;
    align-items: center;
    width: 30vw;
    text-decoration: none;
    color: white;
}

.contact-icon{
    padding: 0.5em;
    filter: invert(30%) sepia(89%) saturate(1111%) hue-rotate(177deg) brightness(109%) contrast(106%);
}

.contact-icon img{
    width: 2vw;
}

.contact-title{
    margin-left: 3em;
    font-weight: 600;
    font-size: 18px;
}
